<style>
    .picker {
        cursor: pointer;
    }
</style>

<label for="dates" class="form-label">Dates</label>
<div class="input-group" id="dates">
    <InputDate @bind-Value="boundStartDate" class="form-control picker"></InputDate>
    <span class="input-group-text">to</span>
    <InputDate @bind-Value="boundEndDate" class="form-control picker"></InputDate>
</div>

@code {
    [Parameter]
    public DateTime StartDate { get; set; }

    [Parameter]
    public DateTime EndDate { get; set; }

    [Parameter]
    public EventCallback<DateTime> StartDateChanged { get; set; }

    [Parameter]
    public EventCallback<DateTime> EndDateChanged { get; set; }

    private DateTime boundStartDate
    {
        get => StartDate;
        set => StartDateChanged.InvokeAsync(value);
    }

    private DateTime boundEndDate
    {
        get => EndDate;
        set => EndDateChanged.InvokeAsync(value);
    }
}
